<h1>EMPLOYEE ID CARD FORM </h1>
<div class="container rounded-circle">
  <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm.value)">
      
    <div class="form-group ">
      <label>First Name*</label>
      <input type="text" #firstNameRef="ngModel" minlength="4" maxlength ="10" required class="form-control" placeholder="firstName" name="firstName" ngModel>
      <div *ngIf="firstNameRef.errors && (firstNameRef.dirty || firstNameRef.touched)" class="alert alert-danger">
<div [hidden]="!firstNameRef.errors.required">
  Please Enter a Name
</div>
<div [hidden]="!firstNameRef.errors.minlength">
    Please Enter atleast 4 and maximum 10 characters
  </div>
      </div>
    </div>
    <div class="form-group ">
      <label>Full Name*</label>
      <input type="text" #fullNameRef="ngModel" minlength="4" maxlength="10" required class="form-control" placeholder="fullName"  name="fullName" ngModel>
      <div *ngIf="fullNameRef.errors && (fullNameRef.dirty || fullNameRef.touched)" class="alert alert-danger">
          <div [hidden]="!fullNameRef.errors.required">
            Please Enter your full Name
          </div>
          <div [hidden]="!fullNameRef.errors.minlength">
              Please Enter atleast 4 and maximum 10 characters
            </div>
                </div>
    </div>
    <div class="form-group ">
      <label>Email(Virtusa)*</label>
      <input type="email" #virtusaEmail="ngModel" required pattern="^[1-9,a-z,A-Z]*@virtusa.com$" class="form-control" placeholder="Virtusa Email"  name="VirtusaEmail" ngModel>
      <div *ngIf="virtusaEmail.errors && (virtusaEmail.dirty || virtusaEmail.touched)" class="alert alert-danger">
          <div [hidden]="!virtusaEmail.errors.required">
            Please Enter valid Work emailId
          </div>
          <div [hidden]="!virtusaEmail.errors.minlength">
              Please Enter atleast 4 and maximum 10 characters
            </div>
                </div>
    </div>
    <div class="form-group ">
      <label for=""> Designation</label>
      <select class="form-control" #designation required name="designation" ngModel>
          <option>Associate Engineer</option>
          <option>Team Leader</option>
          <option>Lead Architect</option>
          <option>Delivery Manager</option>
          <option>Technical Associate</option>
        </select>
        
         <div *ngIf="designation.errors && (designation.dirty || designation.touched)" class="alert alert-danger">
            <div [hidden]="!designation.errors.required">
              Please select a Designation
            </div>
            <div [hidden]="!designation.errors.minlength">
                Please Enter atleast 4 and maximum 10 characters
              </div>
                  </div>
    </div>
    <div class="form-group ">
      <label>Contact Number</label>
      <input type="text" #mobileNumber="ngModel" required class="form-control" minlength="10"placeholder="Contact Number"  name="contactNumber" ngModel>
      <div *ngIf="mobileNumber.errors && (mobileNumber.dirty || mobileNumber.touched)" class="alert alert-danger">
          <div [hidden]="!mobileNumber.errors.required">
            Please select a Mobile Number
          </div>
          <div [hidden]="!mobileNumber.errors.minlength">
              Please enter valid Mobile Number
            </div>
                </div>
    </div>
    <div class="form-group ">
      <label>Alternate Contact Number</label>
      <input type="text" class="form-control" placeholder="Alternate Contact Number"  name="alternateContactNumber" ngModel>
    </div>
    


    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>